# Laravel
/bootstrap/compiled.php
#/vendor
*/logs/*


# Configuration
/app/config/local
/app/config/staging
/app/config/production
/app/storage/logs
/app/config/database.php

# Basset development collections
/public/assets/compiled/*
/public/*.csv

# Composer
composer.phar
#composer.lock

#Database
/app/database/*.sqlite
/app/database/*.sqlite3
/app/database/*.db

# OS
.DS_Store
.idea/

# Packages
_ide_helpers.php
