@sumary-bckg-color : #abcabd;
/*
table.flexme td, .hDiv th {
    padding: 0 5px !important;
}
table.flexme tr td > div {
    overflow: hidden;
    white-space: nowrap;
    padding: 0 !important
}


table.flexme tr:first-child td, 
table.flexme tr.fields-sumary + tr td {
    height: 33px;
    padding-top: 16px ! important;
}

table.flexme tr:first-child td:first-child > div, 
table.flexme tr.fields-sumary + tr td:first-child > div {
}

table.flexme tr.fields-sumary td {
    padding-top: 0 !important;
    height: auto !important;
}
table.flexme tr.fields-sumary td > div {
    height: auto !important;
}

table.flexme td:first-child > div {
} 

tr.fields-sumary {
    position: absolute;
    top: 0;
    border: none;
    height: 0;
    left: 0;
}
tr.fields-sumary td, tr.fields-sumary td > div {
    border: none !important;
    text-align: center;
    vertical-align: top; 
    cursor: pointer;
    background-color: @sumary-bckg-color !important;
}
tr.fields-sumary td, tr.fields-sumary td {
    background-color: @sumary-bckg-color !important;
}
tr.fields-sumary .popover {
    width: 100%;
}
tr.fields-sumary .popover.bottom .arrow {
    border: none !important;
}
tr.fields-sumary span.btn {
    padding: 2px 0;
}*/

.flexme {
    font-size: 11px;
    th + th {
        min-width: 60px;
    }
    td {
       white-space: nowrap;
       vertical-align: middle;
       + td.sorting_1 {
        background-color: #CCCCCC !important;
       }
    }

}
.hol-sets {
    input#holdingsset_id {
        margin-top: 3px;
    }  
}

table.table thead th:first-child {
    background-image: none; 
    cursor: default;
    &.sorting_asc,
    &.sorting_asc {
        background-image: none; 
        cursor: default;
    }    
}

.panel-body {
    overflow-x: scroll;
    max-height: 900px;
    padding: 5px 0 0 0;
} 

.search-holdings {
    font-size: 12px !important;
    border-radius: 0px;
    .input-group > div {
        padding: 0;
        select {
          padding: 6px 2px;
        }
        select,
        input,
        label {
            border: 1px solid #CCCCCC;
        }

    }
}


