@sumary-bckg-color : #abcabd;

table.flexme tr:first-child td > div, 
table.flexme tr.fields-sumary + tr td > div {
    padding-top: 15px;
}
tr.fields-sumary {
    position: absolute;
    top: 0;
    border: none;
    height: 0;
}
tr.fields-sumary td, tr.fields-sumary td > div {
    border: none !important;
    padding: 0 !important;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    background-color: @sumary-bckg-color !important;
}
tr.fields-sumary td, tr.fields-sumary td {
    background-color: @sumary-bckg-color !important;
}
tr.fields-sumary .popover {
    width: 100%;
}
tr.fields-sumary .popover.bottom .arrow {
    border: none !important;
}
tr.fields-sumary span.btn {
    padding: 2px 0;
}

tr.locked td, tr.locked div {
    background-color: #abf6a7 !important;
}