tr.fields-sumary {
    position: absolute;
    top: 0;
    border: none;
    height: 0;
}
tr.fields-sumary td, tr.fields-sumary td > div {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    text-align: right;
    vertical-align: top;
}
tr.fields-sumary .popover {
    width: 100%;
}
tr.fields-sumary .popover.bottom .arrow {
    border: none !important;
}
tr.fields-sumary span.btn {
    padding: 0 10px;
}